@media(max-width: 1600px) {
    .category__content {
        grid-template-columns: repeat(3, 30%);
    }

    .addToCartBtn--category {
        padding: 10px;
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 1400px) {
    .recom__item {
        flex-basis: 30%;
    }

    .addToCartBtn--category {
        font-size: 13px;
    }
}

@media(max-width: 1200px) {
    .modalHeader {
        font-size: 18px;
    }

    .header__header__section__btn,
    .header__menu__list__link {
        font-size: 14px;
    }

    .recom__item__title {
        font-size: 17px;
    }

    .recom__item__price {
        font-size: 21px;
    }

    .addToCartBtn--crossSells {
        font-size: 14px;
        padding: 15px 10px;
    }

    .singleProductInfo__title {
        font-size: 22px;
    }

    .singleProductInfo__price {
        font-size: 18px;
    }

    .category .singleProductInfo__sizes__buttons {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }

    .myAccount, .myAccount__buttons {
        width: 100%;
    }
}

@media(max-width: 992px) {
    .header__logo__img {
        width: 200px;
    }

    .aboutUs__icons {
        padding: 20px;
    }

    .aboutUs__icons__item {
        flex-basis: 26%;
        padding: 0 2%;
    }

    .aboutUs__icons__item__img {
        width: 40px;
    }

    .aboutUs__icons__item__header {
        font-size: 13px;
    }

    .singleProductInfo {
        flex-direction: column;
    }

    .singleProductInfo__section {
        width: 100%;
    }

    .singleProductInfo__section--figure {
        margin-bottom: 40px;
    }

    .addToCartBtn {
        padding: 12px 20px;
    }

    .category__filters {
        width: 30%;
    }

    .category__content {
        width: 65%;
        grid-template-columns: repeat(2, 48%);
    }

    .shippingForm__form {
        flex-direction: column;
    }

    .shippingForm__section {
        width: 100%;
    }

    .singleProduct__carousel {
        width: 100%;
        max-width: 600px;
    }

    .singleProductInfo {
        padding-top: 0;
    }

    .hero__slider__arrow--left {
        left: 10px;
    }

    .hero__slider__arrow--right {
        right: 10px;
    }

    .smallModal .ReactModal__Content {
        width: 80vw;
        height: 80vh;
    }
}

@media(max-width: 768px) {
    .gallerySection__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .gallerySection__imgWrapper {
        width: 100%;
    }

    .recom__content {
        flex-direction: column;
    }

    .recom__item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .aboutUs__icons {
        flex-wrap: wrap;
    }

    .aboutUs__icons__item:first-of-type,
    .aboutUs__icons__item:nth-of-type(2) {
        margin-bottom: 30px;
    }

    .aboutUs__icons__item:nth-of-type(odd) {
        padding-right: 10%;
    }

    .aboutUs__icons__item:nth-of-type(even) {
        border-right: none !important;
    }

    .aboutUs__icons__item {
        flex-basis: 49%;
    }

    .footer__row {
        flex-direction: column;
    }

    .footer__menu {
        width: clamp(200px, 90%, 400px);
    }

    .footer__menu__item, .footer__menu__header,
    .footer__menu p
    {
        text-align: center;
    }

    .footer__menu__item:hover {
        transform: none;
    }

    .footer__newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .footer__newsletter__header {
        font-size: 16px;
        text-align: center;
    }

    .footer__newsletter__form {
        margin-top: 10px;
    }

    .footer__input {
        min-width: 150px;
    }

    .singleProductInfo__row {
        flex-direction: column;
        align-items: flex-start;
    }

    .category__content {
        width: 100%;
    }

    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .cart__item__imgWrapper {
        width: 100%;
        height: auto;
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .cart__item__img {
        width: 100%;
        height: auto;
    }

    .cart__item__title {
        grid-column: 2;
        grid-row: 1;
    }

    .cart__item__amount,
    .cart__item__title,
    .cart__item__title .cart__item__key
    {
        text-align: right !important;
    }

    .removeFromCartBtn {
        opacity: 1;
    }

    /* Header and landing */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .hero {
        padding-top: 145px;
    }

    .page, .page--singleProduct {
        padding-top: 170px;
    }

    .header__header {
        justify-content: center;
        border-top: none;
        padding-top: 0;
    }

    .header__header__section {
        flex-basis: 0;
    }

    .header__mobileMenu {
        position: relative;
    }

    .header__mobileMenu__item {
        background: transparent;
        width: 20px;
        height: auto;
    }

    .header__mobileMenu__icon {
        width: 100%;
    }

    .section__header,
    .category__content__header {
        font-size: 18px;
    }

    .hero__slider {
        width: 100%;
        padding: 0;
        border: none;
        margin: 0;
    }

    .hero {
        padding-bottom: 20px;
    }

    .hero::before {
        display: none;
    }

    .header__mobileMenu__list {
        padding-left: 0;
    }

    .header__mobileMenu__menu {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        background: var(--black-primary);
        z-index: 10;
        border-bottom: 4px solid #fff;
        padding: 8px 0;
    }

    .header__mobileMenu__menu::before,
    .header__mobileMenu__menu::after
    {
        content: "";
        position: absolute;
        display: block;
        background: var(--black-primary);
        left: -100px;
        width: 100px;
        top: 0;
        height: 100%;
        border-bottom: 4px solid #fff;
        box-sizing: content-box;
    }

    .header__mobileMenu__menu::after {
        left: 100%;
        right: -100px;
    }

    .invert {
        filter: brightness(0) invert(1);
    }

    .smallModal .ReactModal__Content {
        width: 100vw;
        height: 100vh;
    }

    .smallModal .modalTick {
        transform: scale(.5);
    }

    .singleProduct__carousel > div,
    .singleProduct__carousel > div > div
    {
        max-height: 400px;
    }

    .infoHeader {
        font-size: 17px;
    }

    .couponInfo--success {
        font-size: 14px;
    }

    .page__header--ty {
        font-size: 17px;
    }

    .removeFromCartBtn {
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    /* Mobile menu */
    .header__menu__list__item {
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Newsletter section */
    .newsletterSection {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero__carousel {
        height: 200px !important;
    }

    .hero__slider__arrow--right {
        right: 0;
    }

    .hero__slider__arrow--left {
        left: 0;
    }

    .hero__slider__arrow__img {
        width: 55%;
    }
}

@media(max-width: 576px) {
    .aboutUs__icons__item {
        flex-basis: 80%;
        margin-bottom: 30px;
        border-right: none !important;
        border-bottom: 1px solid #6A6A6A;
        padding: 0 !important;
        padding-bottom: 20px !important;
    }

    .aboutUs__header {
        font-size: 17px;
    }

    .aboutUs__content__text {
        font-size: 14px;
    }

    .category__content {
        grid-template-columns: 100%;
    }

    .cart__header {
        font-size: 17px;
    }

    .emptyCart__btn {
        width: 250px;
        height: 40px;
        font-size: 14px;
    }

    .cart__item__title {
        font-size: 14px;
    }

    .cart__item__input {
        width: 28px;
        height: 28px;
    }

    .cart__item__value {
        font-size: 15px;
    }

    .clientForm {
        padding: 40px 15px;
    }

    .registerPage {
        padding: 20px 0 0;
    }

    .registerPage .clientForm {
        width: 100%;
    }

    .clientForm__input {
        min-width: 100px;
    }

    .myAccount__orders__item {
        border-bottom: 1px solid #6A6A6A;
        padding: 15px 0;
    }

    .myAccount__orders__item__value,
    .myAccount__orders__item__status {
        width: 45%;
        font-size: 14px;
    }

    .myAccount__orders__item__value:nth-of-type(2),
    .myAccount__orders__item__status
    {
        text-align: right;
        margin-right: 0;
    }

    .myAccount__orders__item__status {
        width: auto;
    }

    .shippingForm__form {
        padding: 15px;
    }

    .button--payment {
        font-size: 14px;
    }

    .footer__newsletter__form {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .footer__btn {
        font-size: 12px;
    }

    .modal__buttons {
        flex-direction: column;
    }

    .modal__buttons .modal__btn:last-child {
        margin-top: 20px;
    }

    .page {
        padding-top: 200px;
    }

    .loginPage {
        padding-top: 220px;
        padding-bottom: 50px;
    }

    .footer__newsletter__form {
        flex-direction: column;
    }

    .footer .footer__btn {
        width: 100%;
        margin: 7px 0 0 0;
    }

    .footer .footer__newsletter__form {
        width: 80%;
    }

    .footer .footer__label {
        width: 100%;
    }

    #rcc-confirm-button {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .CookieConsent > div:last-of-type {
        margin: auto;
        min-width: 100px;
    }
}
