/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#root {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, label, input, button, a, li, p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

ul {
    list-style-type: none;
}

button, a {
    color: inherit;
    text-decoration: none !important;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s all ease-in-out;
}

:root {
    /* Colors */
    --black-primary: #1C1C1B;
    --black-secondary: #272727;

    /* Others */
    --siteWidth: clamp(300px, 90%, 1400px);
    --padding: 0 clamp(5vw, calc((100vw - 1400px) / 2), 1000px);
    --paddingExtra: 50px clamp(5vw, calc((100vw - 1200px) / 2), 1000px);
}

.opacity-0 {
    opacity: 0;
}

/* Header */
.header {
    background: var(--black-primary);
    width: 100%;
    padding: var(--padding);
    padding-top: 20px;
}

.header__header {
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #6A6A6A;
    padding-top: 20px;
}

.header__header__section {
    flex-basis: 30%;
}

.header__logo__img {
    width: 420px;
    display: block;
    margin: auto;
}

.header__socialMedia__link {
    margin-right: 25px;
    opacity: .75;
    color: #fff !important;
    font-size: 14px;
}

.header__socialMedia__link:hover {
    opacity: 1;
}

.header__header__section__btn {
    background: transparent;
    color: #fff !important;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    opacity: .8;
    transition: .2s all;
}

.header__header__section__btn:hover {
    opacity: 1;
}

.header__header__section__btn__img {
    margin-right: 10px;
    transition: .4s all;
}

.header__header__section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.header__menu {
    padding: 40px 0 20px;
}

.header__menu__list {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #6A6A6A;
}

.header__menu__list__link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__menu__list__link:hover {
    color: #fff;
    text-decoration: underline;
}

.header__menu__arrow {
    transform: rotate(180deg);
    margin-left: 10px;
    transition: .3s all;
}

.header__menu__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .4s all;
    position: relative;
    z-index: 5;
}

.header__menu__list__item:hover .header__menu__arrow {
    transform: rotate(0);
}

.header__menu__submenu {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 100%);
    background: var(--black-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 15px 40px 0 40px;
    z-index: -1;
    min-width: 200px;
    opacity: 0;
    display: none;
    transition: .4s all;
}

.header__menu__submenu::before {
    content: "";
    background: transparent;
    position: absolute;
    top: -23px;
    left: 0;
    height: 23px;
    width: 100%;
}

.header__menu__submenu .header__menu__list__item,
.header__menu__submenu .header__menu__list__link
{
    text-align: center;
    margin-bottom: 10px;
}

.header__menu__list__item:hover .header__menu__submenu,
.header__menu__submenu:hover
{
    display: flex;
    opacity: 1;
    z-index: 3;
}

/* Hero section */
.hero {
    background: var(--black-secondary);
    padding-bottom: 50px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background: var(--black-primary);
    z-index: 1;
}

.hero__slider {
    margin: var(--padding);
    width: var(--siteWidth);
    position: relative;
    z-index: 2;
    overflow: hidden;
    max-height: 600px;
    border: 2px solid #fff;
    transition: 1s all ease;
}

.hero__slider__img {
    height: auto !important;
    cursor: pointer;
    transition: .4s all ease-in-out;
}

.hero__slider__controls {
    width: 100px;
    margin: 15px auto;
}

.hero__slider__btn {
    background: transparent;
    border: 3px solid #707070;
    width: 20px;
    height: 20px;
}

.heroSliderBtn--selected {
    background: #fff;
}

.hero__slider * {
    height: 100%;
}

.hero__slider__arrow {
    position: absolute;
    width: 60px;
    height: auto;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    opacity: .6;
}

.hero__slider__arrow:hover {
    opacity: 1;
}

.hero__slider__arrow--left {
    left: 20px;
}

.hero__slider__arrow--right {
    right: 20px;
}

.hero__slider__arrow--left img {
    transform: rotate(90deg);
}

.hero__slider__arrow--right img {
    transform: rotate(270deg);
}

.hero__slider__arrow__img {
    width: 100%;
    height: auto;
    filter: brightness(0) invert(1);
}

/* Gallery section */
.gallerySection {
    background: var(--black-secondary);
    padding-bottom: 80px;
}

.section__header {
    padding: 30px 0 15px;
    border-bottom: 1px solid #6A6A6A;
    width: fit-content;
    width: -moz-max-content;
    margin: auto;
    text-transform: uppercase;
    font-size: 24px;
}

.gallerySection__content {
    display: grid;
    grid-template-columns: 25% 25% 45%;
    grid-template-rows: repeat(2, 290px);
    grid-row-gap: 10px;
    justify-content: space-between;
    padding: var(--padding);
    margin-top: 50px;
}

.gallerySection__imgWrapper {
    overflow: hidden;
    display: block;
}

.gallerySection__img {
    opacity: .7;
    transition: .4s all ease-in-out;
}

.gallerySection__img:hover {
    opacity: 1;
}

.imgWrapper-1 {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 8px;
}

.imgWrapper-2 {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 8px;
}

.imgWrapper-3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.imgWrapper-4 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.gallerySection__img {
    min-width: 100%;
    min-height: 100%;
}

.gallerySection__imgWrapper .gallerySection__img:hover {
    transform: scale(1.02);
}

/* Recommendations */
.recommendationsSection {
    background: var(--black-secondary);
    padding: var(--padding);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.recommendationsSection::after {
    content: "";
    background: rgba(106, 106, 106, .25);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--siteWidth);
    height: 1px;
}

.recom__content {
    padding: 50px 0;
}

.recom__item {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
}

.singleProduct .recom__item__imgWrapper {
    height: auto;
    max-height: 400px;
}

.recom__item__imgWrapper {
    height: 400px;
    margin-bottom: 20px;
}

.recom__item__img {
    width: 100%;
    opacity: .7;
    transition: .4s all ease-in-out;
}

.recom__item:hover .recom__item__img {
    transform: scale(1.02);
    opacity: 1;
}

.recom__item__title {
    font-size: 22px;
    font-weight: 400;
}

.recom__item__price {
    font-weight: 700;
    font-size: 26px;
}

/* About us */
.aboutUs {
    background: var(--black-primary);
    padding: var(--padding);
    padding-bottom: 40px;
}

.aboutUs__icons {
    background: var(--black-secondary);
    padding: 40px;
    margin: 30px 0;
}

.aboutUs__icons__item {
    flex-basis: 25%;
    padding: 0 5%;
}

.aboutUs__icons__item:not(:last-child) {
    border-right: 1px solid rgba(106, 106, 106, .25);
}

.aboutUs__icons__item__img {
    width: 60px;
}

.aboutUs__icons__item__header {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.aboutUs__header {
    margin-top: 40px;
    font-size: 24px;
}

.aboutUs__content__text {
    margin: 30px 0;
    color: #fff;
}

.aboutUs p, .page__content * {
    background: transparent !important;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
}

/* Footer */
.footer {
    background: var(--black-primary);
    padding: var(--padding);
    padding-top: 30px;
    border-top: 5px solid #fff;
}

.footer__bottom {
    border-top: 1px solid #6A6A6A;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__menu__header {
    font-size: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid #6A6A6A;
    font-weight: 500;
}

.footer__menu__list {
    padding-left: 0;
    margin-top: 20px;
}

.footer__menu__item {
    margin: 10px 0;
    transition: .4s all ease-in-out;
}

.footer__menu__link {
    color: #fff !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    opacity: .8;
    transition: .2s all;
}

.footer__menu__link:hover, .footer__bottom__link:hover {
    opacity: 1;
}

.footer__menu {
    flex-basis: 24%;
    margin: 30px 0;
}

.footer__menu p {
    font-size: 14px;
    font-weight: 300;
}

.footer__menu p b {
    font-weight: 700;
}

.footer__logo {
    width: 65%;
    margin-bottom: 30px;
    margin-left: 100%;
    transform: translateX(-100%);
}

.footer__bottom__header {
    color: #fff;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.footer__bottom__link {
    color: #fff !important;
    text-decoration: none !important;
    opacity: .8;
    transition: .2s all;
}

.footer__newsletter__form {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__newsletter__header {
    font-size: 17px;
    font-weight: 400;
}

.footer__input {
    height: 40px;
    background: transparent;
    border: 1px solid #6A6A6A;
    font-size: 14px;
    padding: 0 10px;
    outline: none !important;
    min-width: 250px;
    transition: .2s all;
}

.footer__input:active,
.footer__label:focus-within {
    border-color: #fff;
}

.footer__btn {
    background: #6A6A6A;
    color: #fff;
    height: 40px;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 15px;
    margin-left: 10px;
    transition: .4s all;
}

.footer__btn:hover {
    background: #333333;
}

.newsletterResponse {
    font-size: 15px;
    font-weight: 400;
}

/* Single product */
.singleProductInfo {
    padding: var(--paddingExtra);
    background: var(--black-primary);
    padding-top: 50px;
    padding-bottom: 70px;
    position: relative;
}

.singleProductInfo::after {
    content: "";
    background: #6A6A6A;
    width: var(--siteWidth);
    height: 1px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.clientForm__label--notification {
    width: 80%;
    max-width: 300px;
}

.clientForm__input--notification {
    width: 100%;
    max-width: 280px;
    min-width: 0 !important;
}

.singleProductInfo__section {
    width: 45%;
    transition: 1s all;
}

.singleProductInfo__section--figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleProduct__carousel {
    width: 45%;
    position: relative;
    max-height: 650px;
}

.singleProduct__carousel > div {
    width: 100%;
    max-height: 650px;
}

.singleProduct__carousel > div > div {
    max-height: 650px;
}

.singleProductInfo__img {
    display: block;
    width: 100%;
}

.singleProductInfo__title {
    font-size: 32px;
}

.singleProductInfo__price {
    font-size: 26px;
    padding: 10px 0 20px;
    border-bottom: 1px solid #6A6A6A;
}

.singleProductInfo__sizes__header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.singleProductInfo__sizes__btn {
    border: 1px solid #787878;
    background: transparent;
    color: #fff;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.singleProductInfo__sizes__btn:disabled {
    opacity: .4;
    cursor: auto;
}

.singleProductInfo__label {
    text-transform: uppercase;
    font-size: 14px;
}

.singleProductInfo__amount__input {
    background: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #787878;
    text-align: center;
    padding: 0;
    margin-left: 15px;
}

.singleProductSlider__btn {
    width: 40px;
    height: auto;
}

.singleProductSlider__btn .hero__slider__arrow__img {
    width: 100%;
    height: auto;
}

/* Remove arrows from number input type - Chrome, Safari, Edge, Opera */
.cart input::-webkit-outer-spin-button,
.singleProductInfo__label input::-webkit-outer-spin-button,
.singleProductInfo__label input::-webkit-inner-spin-button,
.cart input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows from number input type - Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.singleProductInfo__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleProductInfo__amount__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.singleProductInfo__arrow__btn {
    background: transparent;
}

.singleProductInfo__arrow__btn:last-of-type .singleProductInfo__arrow__img {
    transform: rotate(180deg);
}

#sizeSelected {
    border-color: #fff;
    border-width: 2px;
}

.addToCartBtn {
    background: #6A6A6A;
    padding: 20px 50px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 17px;
}

.addToCartBtn__img {
    margin-left: 15px;
    transition: .3s all ease-in-out;
}

.addToCartBtn:hover .addToCartBtn__img {
    transform: translateX(10px);
}

.singleProductInfo__description {
    margin-top: 50px;
    border-top: 1px solid #6A6A6A;
    padding-top: 30px;
}

.singleProductInfo__description__header {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.singleProductInfo__description__content {
    font-size: 14px;
    font-weight: 300;
}

.singleProductInfo__description__content * {
    color: #fff !important;
    background: transparent !important;
}

.recommendationsSection--crossSells {
    background: var(--black-secondary);
}

.recommendationsSection--crossSells::after {
    display: none;
}

.addToCartBtn--crossSells {
    width: 100%;
    justify-content: center;
}

/* Category */
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--black-primary);
    padding: var(--padding);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}

.category * {
    z-index: 2;
    position: relative;
}

.category__content__header {
    text-align: center;
    font-size: 28px;
    width: 100%;
    margin-bottom: 40px;
}

.category::after {
    content: "";
    background: var(--black-secondary);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

.category__filters {
    width: 20%;
    position: sticky;
    top: 50px;
    left: 0;
}

.category__content {
    width: 75%;
}

.category__filters__item {
    background: var(--black-secondary);
    border: 1px solid #fff;
    width: 100%;
    padding: 30px 30px 0;
    margin-bottom: 40px;
}

.category__filters__item__header {
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

.category__filters__item__list {
    margin-left: 0;
    padding-left: 0;
}

.category__list__item {
    text-align: center;
    border-top: 1px solid rgba(106, 106, 106, .25);
    padding: 15px 0;
    transition: .4s all ease;
}

.category__list__link__img {
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 15px;
}

.category__list__link {
    color: inherit !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__list__link:hover {
    transform: translateY(-4px);
}

.category__list__link--current {
    letter-spacing: 2px;
    font-weight: 700;
}

.category .singleProductInfo__sizes__btn {
    width: 30px;
    height: 30px;
    margin: 5px 0 20px;
}

.singleProductInfo__sizes,
.singleProductInfo__amount
{
    margin-right: 15px;
}

.category .sizeSelected {
    background: #1C1C1B;
}

.category__filters__item__subheader {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

.category__filters__priceLabel {
    margin-bottom: 20px;
    cursor: pointer;
}

.category__filters__priceBtn {
    background: transparent;
    border: 1px solid #6A6A6A;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceBtn--selected {
    background: #fff;
    width: 60%;
    height: 60%;
    display: block;
}

.category__content {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: space-between;
}

.category__content .recom__item {
    margin-bottom: 70px;
}

.addToCartBtn--category {
    height: 50px;
    width: 100%;
}

.recom__item__title--category {
    font-size: 17px;
}

.recom__item__price--category {
    font-size: 20px;
}

.category__list__submenu {
    display: none;
}

/* Page */
.page {
    background: var(--black-primary);
    padding: var(--padding);
}

/* Cart */
.cart {
    background: var(--black-primary);
    padding-bottom: 50px;
}

.removeFromCartBtn__img {
    filter: brightness(0) invert(1);
    width: 100%;
    height: auto;
}

.cart__header {
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(106, 106, 106, .25);
}

.cart__content {
    background: var(--black-secondary);
    padding: 30px;
    margin-top: 30px;
}

.cart__item {
    height: 150px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(106, 106, 106, .25);
    position: relative;
}

.cart__item__imgWrapper {
    height: 100%;
    width: auto;
    align-items: center;
    transition: .4s all;
}

.cart__item__img {
    border: 2px solid #fff;
    height: 100%;
    width: auto;
}

.cart__item__title {
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
}

.cart__item__amount {
    font-size: 13px;
    text-transform: uppercase;
}

.cart__item__input {
    background: var(--black-primary);
    border: 1px solid #6A6A6A;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 15px;
}

.cart__item__key {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.cart__item__value {
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}

.shippingForm {
    margin-top: 60px;
}

.removeFromCartBtn {
    width: 20px;
    padding: 0;
    background: transparent;
    opacity: .7;
    transition: .4s all ease-in-out;
}

.removeFromCartBtn:hover {
    opacity: 1;
}

/* Empty cart */
.emptyCart {
    padding-top: 40px;
    padding-bottom: 100px;
}

.emptyCart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: #787878;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
    color: #fff !important;
    text-decoration: none !important;
}

.emptyCart__btn:hover {
    letter-spacing: 2px;
}

.cart__item__title .cart__item__key {
    text-align: left !important;
}

/* Page */
.page__header {
    text-align: center;
}

.page__content, .page__content * {
    color: #fff;
    padding: 30px 0 50px;
}

/* React modal - animation */
.smallModal {
    transition: .4s all;
}

.smallModal .ReactModal__Overlay {
    opacity: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .7) !important;
    transform: translateX(-100vw);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Content {
    transform: scale(0) translate(-50%, -50%);
    transition: all 500ms ease-in-out;
    transform-origin: center !important;
    transition-delay: 500ms !important;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    background: var(--black-primary) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigModal .ReactModal__Content {
    width: 85%;
    height: 85%;
}

.smallModal .ReactModal__Overlay--after-open
{
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Content--after-open {
    transform: scale(1) translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

.modalTick {
    filter: brightness(0) invert(1);
    transform: scale(.9);
}

.modalHeader {
    text-align: center;
    margin: 30px 0;
}

.modal__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.modal__btn {
    background: #787878;
    color: #fff;
    padding: 10px 20px;
}

.modal__btn:hover {
    background: var(--black-secondary);
}

/* Login page */
.loginPage {
    padding-top: 100px;
}

.loginPage .clientForm__label {
    width: clamp(100px, 400px, 100%);
}

.clientForm__label:focus-within {
    border-color: #fff;
}

.clientForm {
    box-shadow: 0px 0px 10px #00000029;
    background: var(--black-secondary);
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientForm__header {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

.loginForm {
    width: clamp(200px, 90%, 600px);
}

.clientForm__label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-primary);
    border: 1px solid #6A6A6A;
    margin-bottom: 20px;
    width: clamp(100px, 400px, 80vw);
    height: 45px;
    position: relative;
}

.clientForm__icon {
    margin: 0 10px 0 25px;
}

.clientForm__input {
    padding: 8px 15px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    min-width: 350px;
}

.registerHintBtn {
    display: block;
    margin: auto;
    text-align: center;
    color: #fff !important;
    font-size: 14px;
    margin-top: 20px;
}

.registerHintBtn:hover {
    transform: translateY(-6px);
}

.button--login {
    width: clamp(100px, 350px, 100%);
    height: 40px;
    justify-content: center;
    margin-top: 0;
}

.loginPage--client {
    height: auto;
    padding-bottom: 100px;
}

/* Register */
.registerPage {
    padding-top: 80px;
    padding-bottom: 80px;
}

.registerForm {
    margin: auto;
    width: clamp(200px, 90%, 800px);
}

.registerPage .clientForm__label,
.registerPage .button--login
{
    width: clamp(100px, 400px, 100%);
}

.registerPage .clientForm__input {
    width: 100%;
}

.clientForm__subheader {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 1px solid #6A6A6A;
    padding-bottom: 7px;
    margin: 20px auto 30px auto;
    width: fit-content;
    width: -moz-max-content;
}

.d-flex .clientForm__label {
    width: 49%;
}

.category .clientForm__label {
    width: 100% !important;
}

.d-flex .clientForm__input {
    min-width: 0;
}

.clientForm__row {
    width: clamp(100px, 400px, 100%);
}

.w-30 {
    width: 30% !important;
}

.w-68 {
    width: 68% !important;
}

.w-48 {
    width: 48% !important;
}

.w-25 {
    width: 25% !important;
}

.input--error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-delay: .5s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border-color: red;
    margin-bottom: 55px;
}

.d-flex .input--error,
.myAccount .input--error,
.shippingForm .input--error
{
    margin-bottom: 20px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
    display: block;
    margin: -10px auto 10px auto;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
}

.d-flex .error {
    margin-top: 0;;
}

.error--login {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto
}

/* After register page */
.page--thankYou {
    padding-top: 50px;
    padding-bottom: 150px;
}

.infoHeader {
    text-align: center;
    padding: 40px 0 30px;
    font-size: 24px;
}

.button--backToHomepage {
    max-width: 400px;
    color: #fff !important;
    margin: auto;
}

/* My account */
.page--myAccount {
    padding-top: 50px;
    padding-bottom: 80px;
}

.myAccount {
    width: 900px;
    margin: auto;
}

.myAccount .clientForm__input,
.myAccount .button--login
{
    width: 100%;
    max-width: 400px;
}

.myAccount .button--login:hover .addToCartBtn__img {
    transform: rotate(360deg);
}

.myAccount__form {
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myAccount__orders {
    margin-bottom: 40px;
}

.myAccount__orders__item__value {
    font-size: 17px;
    font-weight: 400;
    margin-right: 20px;
}

.myAccount__orders__item__status {
    background: #3CBB9B;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: uppercase;
}

.success {
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.button--transparent {
    color: #fff !important;
    background: transparent;
    font-size: 14px;
    transition: .3s all;
}

.myAccount__buttons {
    width: 900px;
    margin: 0 auto 8px;
}

.button--transparent:hover {
    transform: translateY(-6px);
}

/* Shipping form */
.shippingForm__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--black-secondary);
    width: 100%;
    margin: 30px auto;
    padding: 40px;
}

.shippingForm .clientForm__subheader {
    margin: 20px 0;
}

.shippingForm__section {
    width: 45%;
}

.shippingForm .clientForm__row,
.shippingForm .clientForm__label,
.shippingForm .clientForm__input
{
    width: 100%;
}

.shippingForm .clientForm__row:first-of-type .clientForm__label {
    width: 49%;
}

.label--button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.formBtn {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #6A6A6A;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3px;
}

.formBtn--checked {
    background: #fff;
    width: 100%;
    height: 100%;
    display: block;
}

.clientForm__shippingHeader {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 400;
}

.label--button {
    font-size: 14px;
}

.button--payment {
    width: 100%;
    height: 55px;
}

.textarea {
    background: var(--black-primary);
    resize: none;
    width: 100%;
    height: 220px;
    padding: 15px;
    outline: none !important;
    color: #fff;
}

.clientForm__label--textArea {
    height: auto;
}

.newLine {
    display: block;
    text-align: center;
}

#paczkomatyMapa {
    width: 90%;
    height: 90%;
}

.inPostAddress {
    color: #fff;
    margin-left: 40px;
    font-size: 14px;
    font-style: italic;
}

.orderStatus--red {
    background: #941212;
}

.clientForm--coupon .clientForm__label {
    width: 50%;
}

.button--coupon {
    height: 45px;
    width: 45%;
}

.couponInfo {
    font-size: 17px;
    margin-left: 10px;
}

.couponInfo--success {
    color: #fff;
}

.tickImg {
    filter: brightness(0) invert(1);
    width: 20px;
    margin-right: 20px;
}

.clientForm__input:disabled {
    opacity: .5;
}

.couponInfo--error {
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.category__clientForm__label {
    height: 40px;
}

/* TY page */
.page__header--ty {
    font-size: 24px;
}

/* Product not available */
.font-size-12 {
    font-size: 14px;
}

.modalHeader--smaller {
    font-size: 17px;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    * {
        zoom: .97;
    }

    .hero__slider {
        margin: auto;
    }

    .hero__slider__img, .hero__slider > div, .hero__slider *,
    .singleProductInfo__sizes, .singleProductInfo__sizes *,
    .singleProductInfo__amount, .singleProductInfo__amount *,
    .addToCartBtn, .addToCartBtn *,
    .singleProductInfo__description
    {
        zoom: 1 !important;
    }

    .loginPage {
        zoom: 1.15;
    }

    .singleProductInfo__description__content {
        font-size: 16px;
    }

    .singleProductInfo {
        padding: 50px clamp(5vw, calc((100vw - 1000px) / 2), 1000px) 100px;
    }

    .panel *, .panel {
        zoom: .99;
    }
}

/* Newsletter section */
.newsletterSection {
    background: url("../img/newsletter-background.png");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__newsletter__form--section {
    margin: 30px auto 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__newsletter__form--section .footer__label,
.footer__newsletter__form--section .footer__input {
    width: 90%;
    max-width: 400px;
}

.footer__newsletter__form--section .footer__input {
    width: 100%;
}

.footer__newsletter__form--section .footer__btn {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    height: 50px;
    margin-left: 0;
}

.newsletterSection .section__header {
    min-width: 240px;
    text-align: center;
}

.newsletterSection .footer__newsletter__form,
.newsletterSection .footer__label,
.newsletterSection .footer__input,
.newsletterSection .footer__btn
{
    width: 500px;
    max-width: 90%;
    transition: .2s all;
}

.footer__input {
    border: none;
}

.footer__label {
    border: 1px solid #6A6A6A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .2s all;
}

.mailIcon {
    margin: 0 10px 0 20px;
}

.newsletterSection .footer__label {
    background: #272727;
}

.header__contact {
    margin-top: 15px;
}

.header__mailIcon {
    width: 20px;
}

.header__contact .header__socialMedia__link__img {
    margin-right: 10px;
}

/* Update - 06.09.2021 */
.clientForm__checkbox {
    margin: 10px 7px 30px 0;
}

.cart .clientForm__checkbox {
    margin-top: 0;
}

.clientForm .clientForm__label--checkbox,
.cart .clientForm__label--checkbox
{
    font-size: 12px;
    width: clamp(100px, 400px, 100%) !important;
}

.cart .clientForm__label--checkbox {
    margin-top: 30px;
    width: 100% !important;
}

.cookiesLink,
.clientForm__label--checkbox a {
    color: #fff !important;
    transition: .2s all;
}

.cookiesLink:hover,
.clientForm__label--checkbox a:hover {
    opacity: .8;
}

.CookieConsent {
    padding: var(--padding);
}

#rcc-confirm-button {
    min-width: 100%;
}
